// I like this font but the load times T_T
//@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import 'pallet';

// The body background
$background: #CCCCCC;

$base-font-size: 62.5%;

// Text styling
$color-primary: #000000;
$color-disabled: #666666;

$body-background: #EEEEEE;

$font-serif: Georgia serif;
$font-sans-serif: Helvetia sans-serif;

$header-size: 4rem;

$tall-toolbar-size: 2rem;

$panel-background-color: $background;

$resize_bar_border_color: #BBBBBB;
$resize_bar_boundary: 0.24rem solid $resize_bar_border_color;
$resize_bar_stroke_color: #888888;
$resize_bar_width: 0.5rem;


