$mt-white: #F0F0F0;
$mt-black: #000000;
$mt-primary: #2080D0;
$mt-alt: #C060C0;
$mt-success: #80C020;
$mt-warn: #D09000;
$mt-danger: #D33;
$mt-gray: darken($mt-white, 30);

$pallet: (
    "primary": $mt-primary,
    "alt": $mt-alt,
    "success": $mt-success,
    "warn": $mt-warn,
    "danger": $mt-danger,
    "gray": $mt-gray
);

@each $key, $color in $pallet {
  .text-#{$key}{
    color: $color;
  }
  .bg-#{$key} {
    background-color: $color;
  }
}
