@import 'const';
@import 'flexbox';
@import 'mixins';
@import 'button';

// window framework namespace
.main {
  @import 'window_framework';
}

// editor namespace
.et {
  @import 'editor';
}

// filetree namespace
.ft {
  @import 'filetree';
}

// lectern namespace
.lt {
  @import 'lectern';
}

// resize bar namespace
.rb {
  @import 'resize_bar';
}

body{
  @include full-size();

  background-color: $background;
  color: $color-primary;
  min-width: 800px;
  //font-family: "Slabo 27px", serif;
  font-size: $base-font-size;
}

div, p, input {
  font-family: $font-serif;
  font-size: 1rem;
}

a {
  &:link,
  &:active,
  &:visited{
    color: #ddd;
  }
  &:hover{
    color:#fcc;
  }
}

// Mozilla puts two outlines and only lets customizing one. Remove the Mozilla-specific second one.
a, a:active, a:focus,
button, button:focus, button:active {
  outline: none;
  outline: 0;
}


// Border and padding computed in width/height automatically
div {
  box-sizing: border-box;
}


p {
  margin: 0;
}

.body {
  @include full-size();
}
